// ContentStyled
.content {
    // height: calc(100% - 60px);
    max-height: 100vh;
    display: flex;
    // chiếm hết chiều ngang window
    flex-direction: column;
    // nội dung từ dưới lên trên
    justify-content: flex-start;
    // margin-left: 16px;

    // background-color: linear-gradient(to right, $color-start, $color-end);
    background-color: #fff;

    &__header {
        color: #ccc;
        background-color: #343541;
        padding: 8px;
        text-align: center;
        font-weight: 600;
    }
    &__subheader {
        // margin-left: 16px;
        background-color: #ccc;
        flex-wrap: nowrap;
        &__text {
            margin: 5px 0;
            color: #000;
            text-align: center;
        }
    }
    &__list {
        max-height: 100%;
        // Tạo thanh scoll khi height vượt quá chiều cao content
        overflow-y: auto;
    }
}

.info {
    border-bottom: 1px solid #aaa;
    margin-top: 20px;
    margin-left: 16px;
    &__student {
        display: flex;
        flex-direction: row;
        &__avatar {
            border-radius: 0%;
            align-self: center;
        }
    }
    &__text {
        // flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__des {
            color: #000;
            margin-left: 16px;
        }
    }
    &__match {
        display: flex;
        // align-items: center;
        justify-content: center;
        &__avatar {
            // border-radius: 0%;
            align-self: center;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 80%;
    // height: 80%;
    animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @keyframes scale-in-center {
        0% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }
}

.modal__wrapper {
    position: relative;
    img {
        width: 100%;
    }
}
